// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  margin-top: 300px;
  font-size: 24px;
  font-family: Georgia, serif;
  background-color: #18191A;
  color: white;
}

input {
	font-size: 24px;
	padding: 12px;
	border-radius: 100px;
	border: 0px;
	border-color: white;
	box-shadow: none;
	font-family: Georgia, serif;
}